body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 550px;
}

a {
  color: #00B7FF;
}

.team_content {
  margin-top: 60px;
}

.form-group {
  max-height: 500px;
}
