<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
      <div class="">
        <a class="navbar-brand" style="color: blue" href="/posts">Blog On Rails</a>
      </div>
      <div class="form-inline">
        <a class="nav-link" href="/posts">Home</a>
        <a class="nav-link" href="/posts/new">New Posts</a>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
