<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>


  </head>

  <body>

    <%= link_to 'Home', posts_path %>
    |
    <%= link_to 'New Post', new_post_path %>
    <hr>
    <%= yield %>
  </body>
</html>
