<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Super Team Picker</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
    <script src="/javascripts/popper.min.js" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" charset="utf-8"></script>
  </head>

  <body>
    <nav class="navbar navbar-light justify-content-between" style="background-color: white;">
      <a class="navbar-brand" style="color: blue" href="#">Super Team Picker</a>
      <!-- <div class="collapse navbar-collapse" id="navbarNav">
      </div> -->
      <form class="form-inline">
          <a class="nav-link" style="color: blue" href="/">Home</a>
          <a class="nav-link" style="color: blue" href="/teams/show">Cohorts</a>
          <a class="nav-link" style="color: blue" href="/">New Cohorts</a>
      </form>
    </nav>

    <div class="container-fluid mx-0">
